* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}


/* Header/logo Title */
.header {
  padding: 10px;
  text-align: center;
  background: #2846a8;
  color: #7181b6;
}
    
.navbar1 {
  display: flex;
    justify-content: left;
}

/* Style the navigation bar links */
.navbar1 a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar1 a:hover {
  background-color: #ddd;
  color: #5a6485;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
  justify-content: left;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.selected {
  background-color: #ddd;
  color: black !important; 
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 6%;
  background-color: #859ba0;
  padding: 20px;
  height: 800px;
}

.side h3 {
    display: flex;
    justify-content: left;
    color: #e2d520;
}

.side ol li a {
    text-decoration: none;
}

.side ol li {
    padding: 5px 0;
}

/* Main column */
.main {
  font-size: 20px;
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.historyContentSecondPart ul li {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    list-style-type: none;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 10px;
  text-align: center;
  background: rgba(225, 226, 184, 0.89);
}

.footerContainer a {
    font-size: 20px;
    padding: 10px;
    background: #0e80ccbd;
    color: white;
    text-decoration: none;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar, .navbar1 {   
    flex-direction: column;
  }
}